
/* 
  Note pour VS Code : 
  Lors de l'installation locale, vous pourrez décommenter les lignes @tailwind ci-dessous.
  Pour le moment, elles sont désactivées pour ne pas bloquer l'aperçu navigateur.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
